@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #000000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-top: 150px;
  margin-bottom: -180px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px #49ff18,
    0 0 15px #49ff18, 0 0 10px #49ff18;
  color: #fff;
  letter-spacing: 0.6px;
}

table {
  border-collapse: collapse;
  width: 300px;
  margin-top: 200px;
}

td {
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 48px;
  border-collapse: collapse;
  border: none;
  -webkit-box-shadow: inset 0px 0px 10px 5px #000000;
  box-shadow: inset 0px 0px 10px 5px #000000;
  background-color: #ea01ff;
  border-radius: 8px;
  filter: contrast(90);
  &:hover {
    transform: scale(1.03);
  }
}

.button {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0.4px;
  word-spacing: 2px;
  background-color: #49ff18;
  color: #ffffff;
  border: none;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  &:hover {
    background-color: #55b13c;
    color: blanchedalmond;
  }
}

#message {
  color: #fff;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  animation: blinker 6s linear infinite;
}

@keyframes blinker {
  70% {
    opacity: 0.2;
  }
}
